<!--<div class="ui middle aligned center aligned grid">-->
<!---->
<!--    <div class="column">-->
<!---->
<!--<!--        <h2 class="ui teal header">-->
<!--<!--            <div class="content">-->
<!--<!--                --><?////= $this->translate('Please sign in', $translationTextDomain) ?>
<!--<!--            </div>-->
<!--<!--        </h2>-->
<!---->
<!--        --><?// $form->prepare() ?>
<!--        --><?//= $this->form()->openTag($form) ?>
<!---->
<!--        <div class="ui attached message">-->
<!--            <div class="header">-->
<!--                <i class="sign in icon"></i> --><?//= $this->translate('Please sign in', $translationTextDomain) ?>
<!--            </div>-->
<!--        </div>-->
<!---->
<!--        <div class="ui attached fluid segment">-->
<!---->
<!--            <div class="field">-->
<!--                <div class="ui left icon input">-->
<!--                    <i class="user icon"></i>-->
<!--                    --><?//= $this->formInput($form->get('login')) ?>
<!--                </div>-->
<!--            </div>-->
<!---->
<!--            <div class="field">-->
<!--                <div class="ui left icon input">-->
<!--                    <i class="lock icon"></i>-->
<!--                    --><?//= $this->formPassword($form->get('password')) ?>
<!--                </div>-->
<!--            </div>-->
<!---->
<!--            --><?// $csrf = $form->get('csrf') ?>
<!--            --><?//= $this->formHidden($csrf) ?>
<!---->
<!--            --><?//= $this->formSubmit($form->get('submit')) ?>
<!---->
<!--        </div><!-- /.ui.stacked.segment -->
<!---->
<!--        <div class="ui error message">-->
<!--            --><?//= $this->formElementErrors($csrf) ?>
<!--        </div>-->
<!---->
<!--    --><?//= $this->form()->closeTag($form) ?>
<!---->
<!--    --><?//= $this->loginError() ?>
<!---->
<!--    </div><!-- /.column -->
<!--</div><!--/.ui.middle.aligned.center.aligned.grid -->

<? $this->appnedModuleResources(\Auth\ConfigProvider::MODULE_NAME) ?>
<?= $this->flashMessages() ?>

<div id="app"></div>