.pusher.ui.container{background:#fff;transition:width .2s ease-in-out}.pusher.ui.container.dimmed{width:100%!important;transition:width .2s ease-in-out}.pushable>.pusher:after{background-color:rgba(0,0,0,.5)}#app{height:100%!important}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiLi4vLi4vcHVibGljL3Jlc291cmNlcy9hZG1pbi9hZG1pbi5jc3MiLCJzb3VyY2VzIjpbXSwibWFwcGluZ3MiOiIiLCJzb3VyY2VSb290IjoiIn0=*/