<? $this->appnedModuleResources(\Translations\ConfigProvider::MODULE_NAME) ?>

<div id="app"></div>

<h1>Hello in Translations</h1>
<?php $var = 'var variable value' ?>
<div>
    <p><?= __($var); ?></p>
<!--    <p>--><?php //p__('context', 'text 1 with context'); ?><!--</p>-->
    <p><?= __('text 3 (with parenthesis)'); ?></p>
    <p><?= __('text 4 "with double quotes"'); ?></p>
    <p><?= __('text 5 \'with escaped single quotes\''); ?></p>
</div>

<div>
    <p><?php echo __('text 6'); ?></p>
    <p><?php echo __('text 7 (with parenthesis)'); ?></p>
    <p><?php echo __('text 8 "with escaped double quotes"'); ?></p>
    <p><?php echo __("text 9 'with single quotes'"); ?></p>
<!--    <p>--><?php //echo n__('text 10 with plural', 'The plural form', 5); ?><!--</p>-->
</div>


