
<? if (count($default)): ?>
    <?= $this->partial('app::message', ['messages' => $default]) ?>
<? endif ?>


<!---->
<!--    <div class="ui message">-->
<!--        --><?// if (count($default) == 1): ?>
<!--            <p>--><?//= $default[0] ?><!--</p>-->
<!--        --><?// else: ?>
<!--        <ul class="list">-->
<!--        --><?// foreach ($default as $message): ?>
<!--            <li>--><?//= $message ?><!--</li>-->
<!--        --><?// endforeach ?>
<!--        </ul>-->
<!--        --><?// endif ?>
<!--    </div>-->
<!---->


<? if (count($success)): ?>
    <?= $this->partial('app::message', ['messages' => $success, 'type' => 'positive']) ?>


<!--    <div class="ui positive message">-->
<!--        --><?// if (count($success) == 1): ?>
<!--            <p>--><?//= $success[0] ?><!--</p>-->
<!--        --><?// else: ?>
<!--            <ul class="list">-->
<!--                --><?// foreach ($success as $message): ?>
<!--                    <li>--><?//= $message ?><!--</li>-->
<!--                --><?// endforeach ?>
<!--            </ul>-->
<!--        --><?// endif ?>
<!--    </div>-->

<? endif ?>


<? if (count($warning)): ?>
    <?= $this->partial('app::message', ['messages' => $warning, 'type' => 'warning']) ?>

<!--    <div class="ui warning message">-->
<!--        --><?// if (count($warning) == 1): ?>
<!--            <p>--><?//= $warning[0] ?><!--</p>-->
<!--        --><?// else: ?>
<!--            <ul class="list">-->
<!--                --><?// foreach ($warning as $message): ?>
<!--                    <li>--><?//= $message ?><!--</li>-->
<!--                --><?// endforeach ?>
<!--            </ul>-->
<!--        --><?// endif ?>
<!--    </div>-->

<? endif ?>


<? if (count($error)): ?>
    <?= $this->partial('app::message', ['messages' => $error, 'type' => 'negative']) ?>

<!--    <div class="ui negative message">-->
<!--        --><?// if (count($error) == 1): ?>
<!--            <p>--><?//= $error[0] ?><!--</p>-->
<!--        --><?// else: ?>
<!--            <ul class="list">-->
<!--                --><?// foreach ($error as $message): ?>
<!--                    <li>--><?//= $message ?><!--</li>-->
<!--                --><?// endforeach ?>
<!--            </ul>-->
<!--        --><?// endif ?>
<!--    </div>-->

<? endif ?>


<? if (count($info)): ?>
    <?= $this->partial('app::message', ['messages' => $info, 'type' => 'info']) ?>

<!--    <div class="ui info message">-->
<!--        --><?// if (count($info) == 1): ?>
<!--            <p>--><?//= $info[0] ?><!--</p>-->
<!--        --><?// else: ?>
<!--            <ul class="list">-->
<!--                --><?// foreach ($info as $message): ?>
<!--                    <li>--><?//= $message ?><!--</li>-->
<!--                --><?// endforeach ?>
<!--            </ul>-->
<!--        --><?// endif ?>
<!--    </div>-->

<? endif ?>


