
<div class="ui <?= (isset($type) ? $type : '') ?>  message">
    <? if (count($messages) == 1): ?>
        <p><?= $messages[0] ?></p>
    <? else: ?>
    <ul class="list">
    <? foreach ($messages as $message): ?>
        <li><?= $message ?></li>
    <? endforeach ?>
    </ul>
    <? endif ?>
</div>
