<!DOCTYPE html>
<html>
<head>
    <?= $this->headTitle('Admin dashboard')->setSeparator(' - ')->setAutoEscape(false) ?>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,follow">
    <meta name="description" content="">

    <?= $this->headMeta(); ?>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <?= $this->headLink(); ?>

    <?= $this->headScript(); ?>

</head>
<body>

    <?//= $this->flashMessages() ?>
    <?= $this->content ?>
    <?= $this->inlineScript(); ?>
</body>
</html>