<!DOCTYPE html>
<html lang="en">
    <head>
        <?= $this->headTitle('Sign in') ?>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
<!--    <link rel="shortcut icon" href="">-->

        <?= $this->headMeta(); ?>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
        <?= $this->headLink(); ?>

        <?= $this->headScript(); ?>

        <style type="text/css">
            body > .grid { height: 100%; }
            .column { max-width: 470px; }
        </style>

    </head>

    <body>
        <?= $this->content ?>
        <?= $this->inlineScript() ?>
    </body>
</html>
